body {
  background-color: #eee;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#nav-box {
  position: fixed;
  top: 0;
  width: 100%;
  height: 75px;
  background-color: #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

#header-img {
  height: 34px;
  padding-left: 40px;
}

#nav-bar {
  width: 40%;
  max-width: 900px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  /*white-space: nowrap;
  overflow: hidden;*/
}

a.nav-link {
  color: inherit;
  text-decoration: none;
  display: inline;
}

.box {
  position: relative;
  max-width: 1000px;
  height: 100%;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 360px;
}

#Sign_Up {
  font-family: inherit;
  text-align: center;
}

#email {
  padding: 6px 110px 5px 5px;
}

#submit {
  font-weight: bold;
  font-size: 1rem;
  padding: 5px 20px 5px 20px;
  border: 0;
  border-radius: 2px;
  background-color: #f1c40f;
  cursor: pointer;
  margin-top: 15px;
}

#submit:hover {
  background-color: orange;
  transition: background-color 1s;
}

#Features {
  position: relative;
  top: 120px;
  height: 300px;
  /*left: 20%;*/
}

.icons {
  color: darkorange;
  position: absolute;
  left: 6%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#Features h2, #Features p {
  margin: 0 0 0 20%;
}

#Features p {
  margin-bottom: 60px;
}

#How_It_Works {
  position: relative;
  text-align: center;
  top: 200px;
}

#How_It_Works iframe {
  border: 0;
}

#Pricing {
  position: relative;
  top: 250px;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
  text-align: center;
}

#Pricing div {
  border: 1px solid black;
  border-radius: 2px;
  height: 310px;
  width: 310px;
}

.tenor {
  margin-right: 20px;
}

.bass {
  margin-right: 20px;
}

h3 {
  font-size: 1rem;
  background-color: #ddd;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0;
}

h4 {
  font-size: 1.5rem;
  margin: 15px 0 20px 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

#Pricing input {
  font-weight: normal;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 25px 0 0 0;
}

footer {
  position: absolute;
  bottom: 0;
  background-color: #ddd;
  width: 100%;
  height: 80px;
  text-align: right;
}

span {
  position: relative;
  top: 20px;
  right: 20px;
}

footer a {
  color: initial;
  text-decoration: none;
  margin-right: 10px;
  margin-left: 10px;
}

footer p {
  color: #444;
  font-size: 0.9rem;
  margin: 5px 0 0 0;
}

@media (max-width: 800px) {
  #Pricing {
    flex-direction: column;
    align-items: center;
  }

  .tenor {
    margin: 0;
    margin-bottom: 10px;
  }

  .bass {
    margin: 0;
    margin-bottom: 10px;
  }
}

@media (max-width: 650px) {
  #nav-bar {
    border: 1px solid red;
  }

  #nav-bar a {
    display: block;
    text-align: center;
  }
}

/*@media (max-width: 550px) {
  #Features {
    text-align: center;
  }

  #Features h2, #Features p {
    margin: 0;
  }

  .icons {
    display: none;
  }
}*/