body {
  background-color: #eee;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#nav-box {
  position: fixed;
  top: 0;
  width: 100%;
  height: 75px;
  background-color: #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header-img {
  height: 34px;
  padding-left: 40px;
}

#nav-bar {
  width: 35%;
}

/*#header-img {
  position: inherit;
  height: 34px;
  top: 20px;
  left: 40px;
}

#nav-bar {
  position: inherit;
  top: 30px;
  right: 60px;
}*/

a.nav-link {
  color: inherit;
  text-decoration: none;
  margin-left: 5vw;
}

.box {
  margin-top: 80px;
}

#Sign_Up {
  font-family: inherit;
  text-align: center;
}

#email {
  padding: 6px 110px 5px 5px;
}

#submit {
  font-weight: bold;
  font-size: 1rem;
  padding: 5px 20px 5px 20px;
  border: 0;
  border-radius: 0;
  background-color: #f1c40f;
  cursor: pointer;
  margin-top: 15px;
}

#Pricing p {
  display: block;
  white-space: pre;
}

#Pricing div {
  border: 2px solid black;
}

/*@media (max-width: 400px) {
  a {
    display: flex;
    flex-direction: column;
  }
}*/